body, html{
  margin: 0;
  padding: 0;
  font-family: serif;
  height: 100%;
  overflow: hidden;

}
/*__________________________________________________________*/
h1{
  grid-area: logga;
  position: fixed;
  position: center;
  display: block;
  max-width: 100px;
  max-height: 100px;
  z-index: 10;
  margin: 0;
  /* margin: 1rem 1rem 0rem 1rem; */

}
h1 a{
  float: none;
}

header{
  grid-area: header;
  float: right;
  height: 5rem;
  width: auto;
  padding: 0.5rem 1rem 0rem 1rem;
  position: relative;
  z-index: 10;
  background-color: transparent;

}
/* h2{
font-family: 'Alfa Slab One';
font-size: 1vw;
} */

.overstaHeadern{
  grid-area: navigation;

  display: block;
  float: right;
  left: 0;
  position: static;
  max-width: 706px;
  height: 100%;
  overflow: hidden;
  background-color: black;

  list-style-type: none;
  margin: 0;
  padding: 0;

  top: 10px;

}


.inreoverstaHeadern, a {
  float: right;

  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;

  font-size: 1.125rem;
  line-height: 2.57;

}
.inreoverstaHeadern a:hover {
  color: green;
  /* transition: 0.5s; */
}
/* .active{
background-color:red;

} */
/*__________________________________________________________*/
main{
  grid-area: main;
  min-height: 100%;
  min-width: 100%;
  background-color: red;
  position: absolute;
  top: 0;
}

video{

  min-width: 100%;
  min-height: 100%;
  position: absolute;
  transform: none;
  object-fit: cover;
  z-index: 2;
  overflow: hidden;

}
main{
  overflow: hidden;
}
.Hero_Citat{
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -50%;
  transform: translateY(-50%);
  text-align: center;
  letter-spacing: 2.5px;
  font-family: 'Gilroy-Extrabold';
  font-size: 6rem;
  line-height: 1;
  color:#2C84FA;
  background-color: rgba(0, 0, 0, 0.7);

}
/*__________________________________________________________*/
/*__________________________________________________________*/
#headern {

  display: grid;
  grid-template-columns: 10% 20% 70% ;

  grid-template-rows: auto;
  grid-template-areas:
  "logga . header";
  max-height: 100px;
}

#Main_Hero{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
  "citat";
  max-height: 100vh;
  overflow: hidden;

}

@media screen and (max-width: 850px) {

  #headern{
    grid-template-columns: 10% 90%;
    grid-template-areas:
    "logga header";
  }
  .Hero_Citat{
    font-size: 4rem;
  }


}
@media screen and (max-width: 686px) {

  .inreoverstaHeadern a{
    padding: 10px 10px;
    font-size: 1rem;

  }
}
@media screen and (max-width: 644px) {
  #overstaHeadern{
    display: none;
  }
  header{
    display: none;
  }

}
